.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajuste para o tamanho desejado */
    width: 100%; /* Ajusta a largura conforme o tamanho do container */
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 700px;
    margin-top: 100px;
}

.slide-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain; /* Ajusta a imagem para conter dentro do container */
    border-radius: 10px; /* Borda arredondada opcional */
    transition: opacity 1s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .slideshow-container {
        height: 150px;
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        border-radius: 5px;
    }

    .slide-image {
        border-radius: 5px;
    }
}
